<!DOCTYPE html>
    <html>
        <head>
            {% load static %}
            <meta charset="utf-8">
            <title>Gifter</title>
            <link rel="stylesheet" href="{% static '/css/index.css' %}" media="screen" title="styler" charset="utf-8">
            <link rel="stylesheet" href="{% static '/css/tailwind.css' %}" media="screen" title="styler" charset="utf-8">
            <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" media="screen" title="styler" charset="utf-8"> -->
        </head>
        <body class="bg-gray-900">
            <div class="bg-gray-900 wrapper flex justify-center">
                <h1>Gifter</h1>
                    <div class="bg-gray-700 p-4 rounded-lg">
                        <form action="{% url 'logreg:register' %}" class="border p-4 rounded-lg m-4 logreg-form" method="POST" id="register-form">
                            {% csrf_token %}
                            <h4>Register</h4>

                            <p id="first_name">
                                <input type="text" name="first_name" placeholder="name">
                            </p>

                            <p id="last_name">
                                <input type="text" name="last_name" placeholder="last name">
                            </p>

                            <p id="username">
                                <input type="text" name="username" placeholder="username">
                            </p>
                            <label for="date_of_birth">Date of birth:</label>
                            <p id="date_of_birth">
                                <input type="date" name="date_of_birth" placeholder="Date of birth">
                            </p>

                            <p id="email">
                                <input type="email" name="email" placeholder="email address">
                            </p>

                            <p id="password">
                                <input type="password" name="password" placeholder="password">
                            </p>

                            <p id="confirm_password">
                                <input type="password" name="confirm_password" placeholder="confirm password">
                            </p>
                            <input class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600" type="submit" value="register">
                        </form>
                    </div>

                    <div class="bg-gray-700 p-4 rounded-lg">
                        <form action="{% url 'logreg:login' %}" class="border p-4 rounded-lg m-4 logreg-form" method="POST" id="login-form">
                            {% csrf_token %}
                            <h4>Login</h4>
                            <p>
                                <input type="text" name="username" placeholder="username">
                            </p>
                            <p>
                                <input type="password" name="password" placeholder="password">
                            </p>
                            <input class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600" type="submit" value="log in">
                        </form>
                    </div>

                    <div class="error_message_list">
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li class="error_text">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
            </div>
        </body>
    </html>